<div class="container">
  <div class="jumbotron">
    <h1 class="display-4">Loja Virtual</h1>
    <p class="lead">
      Projeto desenvolvido com os pilares da Orientação a Objetos
    </p>
  </div>

  <h6>Bem-vindo: Usuário</h6>

  <div class="row justify-content-center">
    <div class="col-md-4 mb-4">
      <div class="card h-100">
        <img alt="Imagem do Produto" class="card-img-top" />
        <div class="card-body">
          <h5 class="card-title">Title</h5>
          <p class="card-text">Parágrafo</p>
          <h6 class="card-text text-right">Preço:</h6>
        </div>
        <div class="card-footer">
          <a href="#" class="btn btn-warning">Adicionar ao Carrinho</a>
        </div>
      </div>
    </div>
  </div>

  <div class="container">
    <div class="row justify-content-center">
      <!-- Código para listar produtos... -->
      <button class="btn btn-success mt-2 mb-4 float-right">Comprar</button>
    </div>

    <!-- Inserir componente Carrinho Aqui -->
  </div>
</div>
