<div class="container">
  <div class="jumbotron">
    <h1 class="display-4">Loja Virtual</h1>
    <p class="lead">
      Projeto desenvolvido com os pilares da Orientação a Objetos
    </p>
  </div>

  <h6>Bem-vindo: {{ usuario.nome }}</h6>

  <div class="row justify-content-center" *ngIf="!exibirCarrinho">
    <div class="col-md-4 mb-4" *ngFor="let produto of produtos">
      <div class="card h-100">
        <img
          [src]="produto.imagem"
          alt="Imagem do Produto"
          class="card-img-top"
        />
        <div class="card-body">
          <h5 class="card-title">{{ produto.nome }}</h5>
          <p class="card-text">{{ produto.descricao }}</p>
          <h6 class="card-text text-right">
            Preço: {{ produto.preco | currency : "BRL" }}
          </h6>
        </div>
        <div class="card-footer">
          <a
            href="#"
            class="btn btn-primary"
            (click)="adicionarAoCarrinho(produto)"
            >Adicionar ao Carrinho</a
          >
        </div>
      </div>
    </div>
  </div>

  <div class="container">
    <div class="row justify-content-center" *ngIf="!exibirCarrinho">
      <!-- Código para listar produtos... -->
      <button
        class="btn btn-success mt-2 mb-4 float-right"
        (click)="abrirCarrinho()"
      >
        Comprar
      </button>
    </div>

    <app-carrinho *ngIf="exibirCarrinho"></app-carrinho>
  </div>
</div>
